[Unit]
Description=Daemon to start/stop discord ecs bot server on AWS

[Service]
Type=exec
User=ec2bot
Environment="AWSDISCORDTOKEN=?" "AWSBOTPATH=/home/ec2bot/ecsbot.py"
Restart=on-failure
ExecStart=/bin/sh -ec "exec python3 $AWSBOTPATH"

[Install]
WantedBy=network-online.target

